body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    background: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: navy;
    color: white;
    position: sticky;
    top: 0;  
    z-index: 100000;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7.5px;
    margin-left: 2.5%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin-right: 2.5%;
}

.header-centre {
    display: none;
}

.header-centre button {
    border: none;
    max-width: 150px;
}

.header-centre button a {
    font-size: large;
}

header button:hover {
    color: orange;
}

.hamburger button {
    font-size: x-large;
    border: none;
}

.header-logo button {
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.search-box button {
    border: none;
}

.search-box button svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.search-box button:hover svg {
    fill: orange; 
}

.header-subscribe button {
    border-color: white;
    border-radius: 30%;
    font-size: small;
}

.header-subscribe button:hover {
    border-color: orange;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.hamburger-menu {
    position: fixed;
    left: -10000000000px; 
    width: 80%;
    height: 100%;
    background-color: #dde9fc;
    z-index: 999;
    overflow-y: auto;     
    overflow-x: hidden;
}

.hamburger-menu.active {
    left: 0; 
}

.hamburger-menu div {
    margin-left: 3%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hamburger-menu div a {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.hamburger-menu .about-contact-advertise {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 5px;
}

.hamburger-menu .about-contact-advertise button {
    font-size: small;
    border-color: black;
    border-radius: 20%;
}

.hamburger-menu .about-contact-advertise button:hover {
    color: orange;
    border-color: orange;
}

.hamburger-menu .about-contact-advertise button a {
    font-weight: normal;
}

.hamburger-menu .follow-us-on {
    margin-bottom: 80px;
}

.hamburger-menu .follow-us-on-text {
    display: flex;
    justify-content: center;
}

.hamburger-menu .follow-us-on-icons {
    display: flex;
    justify-content: center;
}

.hamburger-menu .follow-us-on-icons a:hover {
    color: orange;
    transform: scale(1.15);
}

.hamburger-menu .follow-us-on-icons button {
    display: inline-block;
    font-size: 30px;
    color: black;
    transition: all 0.3s ease;
    border: none;
}
    
article {
    min-height: 100vh;
    margin: 0 auto;
}

footer {
    background-color: black;
    padding-bottom: 10px;
    color: white;
}

.thumbnail {
    width: 100%;
    height: 500px;
}

.social-media-icons {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.share-this-page {
    background-color: beige;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media-icons:hover {
    opacity: 0.5;
}

.copyright-text {
    text-align: center;
}

.footer-logo {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
}

.underline-line {
    height: 3px;
    width: 100%;
    background-color: black;
}

.this-just-in {
    display: block;
    padding-bottom: 30px;
}

.this-just-in h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: 0;
}

.read-more-one, .read-more-two, .read-more-three {
    color: blue;
}

.read-more-one, .read-more-two {
    border-bottom: 1px solid navy; 
}

.read-more-one span, .read-more-two span {
    margin-bottom: 15px;
}

.read-more-one span, .read-more-two span, .read-more-three span {
    display: inline-block;
}

.read-more-one span:hover, .read-more-two span:hover, .read-more-three span:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05) translateX(2px);
}

.recommended-text {
    text-decoration: none;
    margin-bottom: 5px;
    color: navy;
    margin-top: 40px;
    border-bottom: 1px solid navy; 
}

.under-recommended-text {
    height: 1px;
    border: none;
    background-color: navy;
    margin-top: 0;
}

.recommended-articles button {
    width: 100%;
    text-align: left;
    border: none;
    background-color: #f2f7ff;
    margin-bottom: 0;
    margin-top: 10px;
}

.recommended-articles button h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.recommended-articles button p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.recommended-articles button h3:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.05) translateX(18px);
}

@media screen and (min-width: 991px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around; 
    }
    .header-left {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header-centre {
        display: flex;      
        flex: 1;          
        justify-content: space-around; 
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .hamburger button {
        font-size: 30px;
    }
    .search-box button svg {
        width: 25px;
        height: 25px;
    }
    .header-subscribe button {
        font-size: 15px;
    }
    .hamburger-menu {
        width: 50%;
    }
    .header-logo button a {
        font-size: x-large;
    }
    .hamburger-menu .follow-us-on-icons button {
        font-size: xx-large;
    }
    .hamburger-menu .follow-us-on-text {
        font-size: x-large;
    }
    .hamburger-menu .follow-us-on-icons {
        gap: 10px;
    }
    .hamburger-menu div a div {
        font-size: x-large;
    }
    .about-contact-advertise a {
        font-size: large;
    }
    article {
        width: 82%;
    }
    .actual-content-this-just-in {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 50px;
    }
    .this-just-in {
        font-size: 25px;
    }
}

@media screen and (max-width: 990px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hamburger-menu .about-contact-advertise button {
        border: none;
        text-decoration: underline;
    }
    article {
        width: 98%;
    }
    .this-just-in {
        font-size: 20px;
    }
}
