body {
    margin: 0;
    background-color: #f2f7ff;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

header {
    background-color: navy;
    text-align: center;
    position: sticky;
    color: white;
    top: 0;  
    z-index: 1000;          
}

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.logo {
    text-decoration: underline;  
    color: white;   
    font-size: 30px;  
}

.logo:hover {
    color: orange;
    opacity: 1;
}

footer {
    background-color: black;
    padding-bottom: 10px;
    color: white;
}

a:hover {
    opacity: 0.75;
}

.thumbnail {
    width: 100%;
    height: 500px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.social-media-icons {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.share-this-page {
    background-color: beige;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media-icons:hover {
    opacity: 0.5;
}

.copyright-text {
    text-align: center;
}

.footer-logo {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
}

article {
    min-height: 100vh;
    margin: 0 auto;
}

.underline-line {
    height: 3px;
    width: 100%;
    background-color: black;
}

.this-just-in {
    display: block;
    padding-bottom: 30px;
}

.this-just-in h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: 0;
}

.read-more-one, .read-more-two, .read-more-three {
    color: blue;
}

.read-more-one, .read-more-two {
    border-bottom: 1px solid navy; 
}

.read-more-one span, .read-more-two span {
    margin-bottom: 15px;
}

.read-more-one span, .read-more-two span, .read-more-three span {
    display: inline-block;
}

.read-more-one span:hover, .read-more-two span:hover, .read-more-three span:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05) translateX(2px);
}

.recommended-text {
    text-decoration: none;
    margin-bottom: 5px;
    color: navy;
    margin-top: 40px;
    border-bottom: 1px solid navy; 
}

.under-recommended-text {
    height: 1px;
    border: none;
    background-color: navy;
    margin-top: 0;
}

.recommended-articles button {
    width: 100%;
    text-align: left;
    border: none;
    background-color: #f2f7ff;
    margin-bottom: 0;
    margin-top: 10px;
}

.recommended-articles button h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.recommended-articles button p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.recommended-articles button h3:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.05) translateX(18px);
}

@media screen and (min-width: 991px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    article {
        width: 82%;
    }
    .actual-content-this-just-in {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 50px;
    }
    .this-just-in {
        font-size: 25px;
    }
}

@media screen and (max-width: 990px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    article {
        width: 98%;
    }
    .this-just-in {
        font-size: 20px;
    }
}
